<footer class= "footer">
	<small>
	Joseph Harskamp, 2016	
  </small>
   	<nav>
   		<ul>
   			<li><%= link_to "About",   about_path %></li>
		    <li><%= link_to "Contact", contact_path %></li>
   		</ul>
   	</nav>
</footer>